html
  head
    title= 'Ejercicio 1'
  body
    - let tit = 'mi titulo';
    - let autor = 'Alan Poe';
    - let cant_pag = '150';

    section
        div.container
            div.col-12
                h1=tit
            div.col-6
                h4  Uno de mis autores favoritos es 
                    b= autor
            div.col-6
                h6 cant_pag