doctype html5
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		title Ejercicio 1 number
		link(rel="stylesheet", href="style.css")
	body
		nav.navbar
			h1.nav-brand Ingresa tu edad
		main.container
			div
				label.label(for="component-name") Ingresa tu edad
				input.input(type="number", placeholder="Ingresa tu edad", id="your-age", min="0", max="130", autocomplete="off")
			p El proximo año, tendras..
				span#next-age